.MinesweeperBody{
    background:url(images/pink-city.jpeg) no-repeat center center fixed;
    background-size:cover;   
  }
 

  .aligned{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
 
  @font-face {
    font-family: 'primary-font';
    src: url(../components/IcelandFonts/Iceland-Regular.ttf)
  }

  .primary-font {
    font-family: primary-font;
  }

  