#score {
    margin: auto;
    margin-top: 8rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px teal, 0 0 30px teal, 0 0 40px teal, 0 0 50px teal, 0 0 75px teal;
    margin-bottom: 4rem;
    letter-spacing: 5px;
  }

  