.logo {
    height: 28%;
    width: 28%;
}
.gameLogo{
    height:auto;
    width: 100%;
}
.memoryLogo{
    height: auto;
    width: 75%;
}
.chessLogo{
    height: auto;
    width: 25%;
}
.fbi{
    height:auto;
    width: 100%;
}
.modalText{
    align-items: center;
    text-align: center;
}